#Allow
!.config/**
!README.md
!setup.py
!install.py

#Ignore
.config/git/config.local
.config/zsh/.zshenv.local
.config/zsh/.zprofile.local
.config/nushell/history.txt
.config/nushell/env.local.nu
