#Allow
!.config/**
!README.md
!setup.py
!install.py

#Ignore
.config/git/config.local
.config/zsh/.zshenv.local
.config/zsh/.zshrc.local
.config/zsh/.zprofile.local
.config/zsh/.zsh_history
.config/zsh/.zcompdump*
.config/zsh/.zsh_sessions*
.config/nushell/history.txt
.config/nushell/env.local.nu
